{{#each posts as |post| }}
<div class="card post">
  <div class="card-body">
    <h2 class="card-title">
      <a href="post/{{id}}">{{title}}</a>
    </h2>
    <p class="card-subtitle">Posted by {{user.username}} on {{format_date created_at}}</p>
    <p class="card-body">
      {{post_text}}
    </p>
  </div>
</div>
{{/each}}